/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.*.backup
.env.backup.*
.env.production.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
.vscode/
.idea/
.editorconfig
.env.development
.env.staging
.env.production
.env.local
docker-compose.override.yml
.docker/
/build/
/dist/
*.log
*.pot
*.class
.env.*local*
.env.dusk.local
.env.testing
/bootstrap/cache/*
!/bootstrap/cache/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
.php-cs-fixer.cache
.phpstan.result.cache
